/* *{
    border: 1px solid red;
} */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* header */
.header{
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    /* background-color: red; */
    border-style: none none solid none;
}
.kiri{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:5rem;
}
.kiri .tulisan{
    margin: 20px 20px 0px 20px;
}
.kiri .tulisan h1{
    font-weight: 600;
    font-size: 30px;
}
.kiri .tulisan p{
    font-weight: 600;
    font-size: 10px;
}
.kiri img{
    width: 6rem;
}
.kanan img{
    width: 10rem;
}
.kanan{
    margin: 0 0 0 33rem;
}

nav {
    background-color: #12372A;
    border-radius: 0 0 20px 20px;
    padding: 10px 0 10px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0 100px 0 100px;
    /* border-top: 10px solid linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
}
nav .warna{
    max-width: 100%;
    margin-top: -15px;
    height: 10px;
    background: linear-gradient(
        90deg,
        hsl(309deg 40% 30%) 0%,
        hsl(348deg 49% 49%) 6%,
        hsl(23deg 78% 55%) 13%,
        hsl(55deg 100% 42%) 24%,
        hsl(51deg 100% 42%) 38%,
        hsl(35deg 100% 44%) 55%,
        hsl(18deg 100% 43%) 67%,
        hsl(20deg 100% 39%) 76%,
        hsl(46deg 100% 30%) 83%,
        hsl(81deg 100% 29%) 88%,
        hsl(121deg 52% 42%) 92%,
        hsl(75deg 96% 33%) 95%,
        hsl(54deg 100% 35%) 98%,
        hsl(40deg 97% 46%) 100%
    ) ;
}


nav ul {
    display: flex;
    font-size: 25px;
    justify-content: center;
    margin-top: 17px;
}
nav ul li{
    margin: 0 25px 0 25px;
    list-style: none;
}


nav ul li a{
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.background{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: url(img/2020-08-21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    transform: translateY(-90px);
    height: 35rem;
    filter: brightness(30%);
}

.background h1 {
    font-size: 50px;
    padding-top: 200px;
    padding-left: 110px;
    z-index: 10;
}

.background p{
    font-size: 20px;
    padding-left: 116px;

}

.background button{
    background-color: #436850;
    color: white;
    margin-left:115px ;
    border-radius: 5px;
    display: inline-block;
    width: 8rem;
    height: 2.5rem;
}

.hijau {
    background-color: #436850 ; 
    width: 100%;
    height: 10px;
    transform: translateY(-60px);
}
.hijau1 {
    background-color: #436850 ; 
    width: 100%;
    height: 10px;
}

.hijautua {
    background-color: #12372A ; 
    box-shadow: 0 0 0 10px #12372A; 
    padding-bottom: 700px;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    margin-top: -5rem;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bulat {
    background-color: #ADBC9F;
    border-radius: 50%;
    width: 90px; 
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(55px);
}

.kotak {
    background-color: #436850;
    width: 250px; 
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 50px;
}

.kotak h1 {
    font-size: 55px;
    margin-top: 30px;
    color: #FBFADA;
}



.kotak p {
    color: #FBFADA;
    font-size: 20px;
}

.material-symbols-outlined {
    font-size: 5rem;
}

.jurusan{
    margin-top: 4rem;
}

.jurusan .text-penjelasan h1{
    font-family: "Lato", sans-serif;
    font-weight: 700;
}
.underlinee{
    background-color: #436850;
    width: 9rem;
    height: 5px;
    margin-top: -0.5rem;
}
.underlinee1{
    background-color: #ffffff;
    width: 6rem;
    height: 5px;
    margin-top: -0.5rem;
}

.jurusan p{
    margin-top: 1rem;
}
.bungkus{
    display: flex;align-items: center;
}
.dropdown-jurusan {
    display: flex;
    flex-direction: column;
    height: 5rem;
    font-family: 'Roboto', sans-serif;
    margin: 20px 0 20px 0;
}
.dropdown-jurusan .kotak-jurusan {
    width: 5rem;
    height: 5rem;
    background-color: #D9D9D9;
    cursor: pointer;
}
.dropdown-jurusan .tulisan-jurusan {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
}
.bungkus-tulisan{
    background-color: #C4C4C4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

}
.detail-jurusan{
    border: 1px solid black;
    display: none;
}
.visible{
    display: block;
}
.bawahan{
    height: 23rem;
}
.detail-jurusan .icon-jurusan img{
    width: 5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.detail-jurusan .deskripsi{
    font-family: "Roboto", sans-serif;
    margin: 40px 0 20px 1rem;
}
.detail-jurusan .button-jurusan button{
    background-color: #D9D9D9;
    width: 15rem;
    height: 2.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
}

footer img {
    margin: 5rem 2rem 3rem 7rem;
    width: 9rem;
    height: 8rem;
}

footer h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600; 
    margin-top: 2rem;
    font-size: 4rem;
}
.guruStaff{
    background-image: url(/img/backgroundshape.jpg);
    margin: 4rem 0 4rem 0;
    width: 100;
    height: 35.8rem;
    /* background-repeat: no-repeat; */
}
.guruStaff .text-guruStaff{
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 35px;
    padding-left: 2rem;
    padding-top: 2rem;
}

.card-guru{
    margin-top: 5rem;
}
.card-guru .kecil{
    /* color: white; */
    background-color: white;
    width: 8rem;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family: "Averia Sans Libre", sans-serif;
    transform: translate(70px, 18px);
    z-index: 10;
}
.card-guru .kecil span{
    /* size: 10px; */
    scale: 0.2;
    margin-right:-30px ;
    margin-left: -35px;
}

.card-guru .gambar-guru img{
    /* margin-top: -1rem; */
    border-radius: 20px;
    width: 10rem;
    object-fit: cover;
}

.card-guru .gambar-guru 
{
    display: flex;
    justify-content: center;
    height: 15rem;
    overflow-y: hidden;
    object-fit: cover;
}
.card-guru .nama-guru{
    background-color: #436850;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 3.5rem;
    width: 15rem;
    transform: translateY(-40px);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 500;
}
 
.ekstrakulikuler .title-ekskul{
    font-family: 'Lato', sans-serif;
    font-size: 45px;
}

.slick-ekskul{
    margin-top: 4rem;
}
.card-ekskul{
   display: flex !important;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.card-ekskul .img-ekskul{
    width: 17rem;
    height: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.card-ekskul .img-ekskul img{
    width: 17rem;
    height: 17rem;
    border-radius: 30px;
    filter: opacity(60%)
}

.card-ekskul .text-ekskul{
    background-color: #ffffffb0;
    border-radius: 50px;
    width: 150px;

    transform: translateY(-35px);
}

/* Prestasi */
.prestasi{
    background-image: url(img/backgroundprestasi.jpg);
    width: 100%;
    /* padding: 1rem 0 1rem 0; */
}
.prestasi .title-prestasi{
    color: white;
    font-size: 45px;
    font-family: 'Lato' sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}
.prestasi .content-presentasi .ilustrasi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prestasi .content-prestasi .ilustrasi img{
    width: 33rem;
    height: 33rem;
}
.prestasi .content-prestasi .slick-prestasi .img-prestasi img{
    width: 24rem;
}
.slick-prestasi .img-prestasi{
    display: flex;
    justify-content: center;
    align-items: center;
}




.contact {
    margin-top: 5rem;
    background-color: #12372A; /* Warna latar belakang hijau gelap */
    border-radius: 20px;
    height: 50rem;
    padding: 2rem;
    width: auto;
    height: auto;
}

.contact h1 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    padding-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

.contact form .mb-3 {
    display: flex;
    justify-content: space-between;
    
}


.contact form input {
    width: 48%;
    padding: 10px;
    margin-bottom: 1.5rem;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    display: inline-block;
    margin-top: 3rem;
}


.contact form input:first-child{
    margin-right: 4%;


}

.contact form textarea {
    width: 100%;
    resize: none;
    height: 12rem;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: white;
    font-size: 1rem;

}

.contact form input {
    width: 100%;
    resize: none;
    height: 50px;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    padding: 10px;
}




.contact form input::placeholder,
.contact form textarea::placeholder {
    color:  #ffffff;
    font-weight: 700;
    font-family: "Roboto", sans-serif;

}
.btn-submit {
    background-color: #fff;
    border: 2px solid #436850;
    color: #436850;
    padding: 2px 30px;
    border-radius: 100px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-size: large;
    font-weight: 900;
}

.btn-submit:hover {
    background-color: #436850;
    border: 2px solid #fff; /* Warna lebih gelap saat di hover */
}



.kontak .sekolah-kontak {
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.kontak .alamat {
    color: #fff;
    text-align: center;
}



.map-container iframe {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    border: none;
}























footer {
    background-color: #D9D9D9;
    padding: 3rem 2rem;
    margin-top: 30px;
}

footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto; /* Mengubah height menjadi auto agar responsif */
}

footer img {
    width: 3.5rem;
    height: 3rem;
    margin-top: 1rem;
}

footer h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;   
    font-size: 1.5rem;
    margin-top: 1rem;
}

footer .apaja p {
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

footer .center {
    flex: 1;
    margin: 1rem 0;
    text-align: left;
}
footer .contact-info ul li {
    list-style: none;
}

footer .center li {
    color: #12372A;
    list-style: none;
    margin-bottom: 0.5rem;
}

footer .right {
    flex: 1;
    text-align: right;
    margin: 1rem 0;
    list-style: none;
}

footer .right a {
    text-decoration: none;
    color: black;
    margin: 0.5rem;
    display: inline-block;
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
    footer .row {
        flex-direction: column;
        text-align: center;
    }

    footer .right {
        text-align: center;
    }
}


.footer-bawah .akhir h1{
    font-size: 25px;
    border-top: 10px solid #12372A;
    text-align: center;
    padding-top: 20px;
    color: #12372A;
}