/* * {
    border: 1px solid red;
} */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    /* background-color: red; */
    border-style: none none solid none;
}
.kiri{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:5rem;
}
.kiri .tulisan{
    margin: 20px 20px 0px 20px;
}
.kiri .tulisan h1{
    font-weight: 600;
    font-size: 30px;
}
.kiri .tulisan p{
    font-weight: 600;
    font-size: 10px;
}
.kiri img{
    width: 6rem;
}
.kanan img{
    width: 10rem;
}
.kanan{
    margin: 0 0 0 33rem;
}

nav {
    background-color: #12372A;
    border-radius: 0 0 20px 20px;
    padding: 10px 0 10px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0 100px 0 100px;
    /* border-top: 10px solid linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
}
nav .warna{
    max-width: 100%;
    margin-top: -10px;
    height: 10px;
    background: linear-gradient(
        90deg,
        hsl(309deg 40% 30%) 0%,
        hsl(348deg 49% 49%) 6%,
        hsl(23deg 78% 55%) 13%,
        hsl(55deg 100% 42%) 24%,
        hsl(51deg 100% 42%) 38%,
        hsl(35deg 100% 44%) 55%,
        hsl(18deg 100% 43%) 67%,
        hsl(20deg 100% 39%) 76%,
        hsl(46deg 100% 30%) 83%,
        hsl(81deg 100% 29%) 88%,
        hsl(121deg 52% 42%) 92%,
        hsl(75deg 96% 33%) 95%,
        hsl(54deg 100% 35%) 98%,
        hsl(40deg 97% 46%) 100%
    ) ;
}


nav ul {
    display: flex;
    font-size: 25px;
    justify-content: center;
    margin-top: 17px;
}
nav ul li{
    margin: 0 25px 0 25px;
    list-style: none;
}


nav ul li a{
    font-weight: 400;
    text-decoration: none;
    color: white;
}


.container {
    position: relative;
    width: 30rem;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sambutan {
    background-image: url(img/cn1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: opacity(40%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
}

.text {
    position: relative;
    background-color: #12372A;
    color: #FBFADA;
    width: 25rem;
    height: 7rem;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    z-index: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    filter: opacity(50%);
}




img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}


.profile {
    margin-left: 50px;
    border-radius: 43px;
    display: flex;
    margin-bottom: 200px;
}

.profile .sekolah img{
    width: 16rem;
    height: auto;
    margin-top: 30px;
}


.profile .kepsek img {
    width: 100%;
    height: 40rem;
    /* margin-top: 1rem; */
}

.sekolah {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.profile h1{
    font-family: "Roboto", sans-serif;
    color:  #FBFADA;
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
}

.profile h2{
    font-family: "Roboto", sans-serif;
    color:  #FBFADA;
    text-align: center;
    margin-top: 5px;
    font-size: 30px;
}


.profile .sekolah p {
    font-family: "Roboto", sans-serif;
    color:  #FBFADA;
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
}

.profile .kepsek p{
    font-family: "Roboto", sans-serif;
    color:  #FBFADA;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0 15px 0 15px;
}

.sekolah {
    background-color: #12372A;
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.75);
    border-radius: 43px;

}

.kepsek {
    background-color: #12372A;
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.75);
    display: inline-block;
    height: 70rem;
    width: 30rem;
    margin-left: 6rem;
    padding: 0;
    text-align: center;
}


























footer {
    background-color: #D9D9D9;
    padding: 3rem 2rem;
    margin-top: 30px;
}

footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto; /* Mengubah height menjadi auto agar responsif */
}

footer img {
    width: 3.5rem;
    height: 3rem;
    margin-top: 1rem;
}

footer h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;   
    font-size: 1.5rem;
    margin-top: 1rem;
}

footer .apaja p {
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

footer .center {
    flex: 1;
    margin: 1rem 0;
    text-align: left;
}
footer .contact-info ul li {
    list-style: none;
}

footer .center li {
    color: #12372A;
    list-style: none;
    margin-bottom: 0.5rem;
}

footer .right {
    flex: 1;
    text-align: right;
    margin: 1rem 0;
    list-style: none;
}

footer .right a {
    text-decoration: none;
    color: black;
    margin: 0.5rem;
    display: inline-block;
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
    footer .row {
        flex-direction: column;
        text-align: center;
    }

    footer .right {
        text-align: center;
    }
}


.row .akhir h1{
    margin-top: 20px;
    font-size: 25px;
    border-top: 10px solid #12372A;
    text-align: center;
    padding-top: 20px;
    color: #12372A;
}