/* * {
    border: 1px solid red;
} */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* header */
.header{
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    /* background-color: red; */
    border-style: none none solid none;
}
.kiri{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:5rem;
}
.kiri .tulisan{
    margin: 20px 20px 0px 20px;
}
.kiri .tulisan h1{
    font-weight: 600;
    font-size: 30px;
}
.kiri .tulisan p{
    font-weight: 600;
    font-size: 10px;
}
.kiri img{
    width: 6rem;
}
.kanan img{
    width: 10rem;
}
.kanan{
    margin: 0 0 0 33rem;
}

nav {
    background-color: #12372A;
    border-radius: 0 0 20px 20px;
    padding: 10px 0 10px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0 100px 0 100px;
    /* border-top: 10px solid linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
}
nav .warna{
    max-width: 100%;
    margin-top: -10px;
    height: 10px;
    background: linear-gradient(
        90deg,
        hsl(309deg 40% 30%) 0%,
        hsl(348deg 49% 49%) 6%,
        hsl(23deg 78% 55%) 13%,
        hsl(55deg 100% 42%) 24%,
        hsl(51deg 100% 42%) 38%,
        hsl(35deg 100% 44%) 55%,
        hsl(18deg 100% 43%) 67%,
        hsl(20deg 100% 39%) 76%,
        hsl(46deg 100% 30%) 83%,
        hsl(81deg 100% 29%) 88%,
        hsl(121deg 52% 42%) 92%,
        hsl(75deg 96% 33%) 95%,
        hsl(54deg 100% 35%) 98%,
        hsl(40deg 97% 46%) 100%
    ) ;
}


nav ul {
    display: flex;
    font-size: 25px;
    justify-content: center;
    margin-top: 17px;
}
nav ul li{
    margin: 0 25px 0 25px;
    list-style: none;
}


nav ul li a{
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.background{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: url(img/2020-08-21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    transform: translateY(-90px);
    height: 35rem;
    filter: brightness(30%);
}

.background h1 {
    font-size: 50px;
    padding-top: 200px;
    padding-left: 110px;
    z-index: 10;
}

.background p{
    font-size: 20px;
    padding-left: 116px;

}

.background button{
    background-color: #436850;
    color: white;
    margin-left:115px ;
    border-radius: 5px;
    display: inline-block;
    width: 8rem;
    height: 2.5rem;
}

.hijau {
    background-color: #436850 ; 
    width: 100%;
    height: 10px;
    transform: translateY(-60px);
}
.hijau1 {
    background-color: #436850 ; 
    width: 100%;
    height: 10px;
}

.hijautua {
    background-color: #12372A ; 
    box-shadow: 0 0 0 10px #12372A; 
    padding-bottom: 700px;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    margin-top: -5rem;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bulat {
    background-color: #ADBC9F;
    border-radius: 50%;
    width: 90px; 
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(55px);
}

.kotak {
    background-color: #436850;
    width: 250px; 
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 50px;
}

.kotak h1 {
    font-size: 55px;
    margin-top: 30px;
    color: #FBFADA;
}



.kotak p {
    color: #FBFADA;
    font-size: 20px;
}

.material-symbols-outlined {
    font-size: 5rem;
}

.jurusan{
    margin-top: 4rem;
}

.jurusan .text-penjelasan h1{
    font-family: "Lato", sans-serif;
    font-weight: 700;
}
.underlinee{
    background-color: #436850;
    width: 9rem;
    height: 5px;
    margin-top: -0.5rem;
}

.jurusan p{
    margin-top: 1rem;
}

.dropdown-jurusan {
    /* display: flex; */
    align-items: center;
    background-color: #C4C4C4;
    height: 5rem;
    font-family: 'Roboto', sans-serif;
    margin: 20px 0 20px 0;
}
.dropdown-jurusan .kotak-jurusan {
    width: 5rem;
    height: 5rem;
    background-color: #4C4C4C;
    cursor: pointer;
}
.dropdown-jurusan .tulisan-jurusan {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
}
.detail-jurusan{
    border: 1px solid black;
    margin-top: -20px;
    display: none;
}
.visible{
    display: block;
}
.detail-jurusan .icon-jurusan img{
    width: 5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.detail-jurusan .deskripsi{
    font-family: "Roboto", sans-serif;
    margin: 40px 0 20px 1rem;
}
.detail-jurusan .button-jurusan button{
    background-color: #D9D9D9;
    width: 15rem;
    height: 2.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
}

footer img {
    margin: 5rem 2rem 3rem 7rem;
    width: 9rem;
    height: 8rem;
}

footer h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600; 
    margin-top: 2rem;
    font-size: 4rem;
}


